alembic==0.9.7
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
numpy==1.14.3
pandas==0.22.0
psycopg2==2.7.3.2
python-dateutil==2.7.2
python-editor==1.0.3
pytz==2018.4
PyYAML==3.12
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.1
tqdm==4.19.5
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
