Flask
Flask-CacheBuster
Flask-Login
Flask-SQLAlchemy
Flask-WTF
gunicorn
Jinja2
JustWatch
pandas
psycopg2-binary
PyYAML
request-boost
requests
SQLAlchemy
toolz
tqdm
urllib3
Werkzeug
python-pushover==0.4  # WARNING: python-pushover requires setuptools 57.X.X
