.alert {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: #5f974f;

    width: 100%;
    position: fixed;
    overflow: hidden;
}

.visible {
    bottom:0;
    transition: bottom 0.5s ease-out;
}

.hidden {
    bottom:-25%;
    transition: bottom 0.5s ease-in;
}
