
.styled-button {

    -webkit-appearance: none;
    font: bold 15px Trebuchet MS;
    border-radius: 2px;
    padding: 13px 20px;
    cursor: pointer;
    outline: none;
    border: 1px solid #6caee0;
    min-width: 100px;

}

.full {

    background-color:  #6caee0;
    color: #ffffff;

}

.empty {

    background-color:  #ffffff;
    color: #6caee0;

}

.red {
    border-color: #d24242cc;
    color: #d24242cc;
}

.dual {
    width: 100%;
    padding-top: 10px;
}

table.dual {
    border-collapse: collapse;
}

.dual .left {
    width: 50%;
	padding: 0;
    padding-right: 5px;
    text-align: right;
    vertical-align: baseline;
}

.dual .right {
    width: 50%;
	padding: 0;
    padding-left: 5px;
    text-align: left;
    vertical-align: baseline;

}

#show_more_link{
    color: #6caee0;
    text-decoration: none;
}
