
body {

    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    background-color: #fff;
    font: 15px Trebuchet MS, sans-serif;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    padding: 0px;

    min-height: 100%;
	min-height: calc(100% + constant(safe-area-inset-top));
	min-height: calc(100% + env(safe-area-inset-top));

}

form {
    margin: 0;
}

td {
    padding: 0;
}

.classic {
    width: 100%;
    padding-top: 90px;
    line-height: 1.5;
}

.big-number {
    font: 35px Trebuchet MS, sans-serif;
}

.sub-content {
    margin: 35px;
    margin-top: 10px;
    padding: 10px;
	border: 1px solid #6caee0;
    border-radius: 2px;
}

.sub-content h2 {
    font: 22px Trebuchet MS, sans-serif;
    font-style: bold;
    color: #6caee0;
}

.mentions {
    margin-bottom: 5px;
}

.mentions img {
    width: 20px !important;
    margin-right: 3px;
    vertical-align: text-bottom;
}
