.sort-by-button {
    margin-top: -12px;
    padding-bottom: 30px;
}

.submenu {

    height: 250px;
    width: 100%;
    position: fixed;
    z-index: 4;
    bottom: -250px;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.2s;
}

.submenu table {
    width: 400px;
    border-spacing: 0;
    margin: auto;
    margin-top: 30px;
}

.submenu td {
    padding: 10px 25px 10px 25px;
}

.sort-radio {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 12px;
    border: 1px solid #6caee0;
    background-color: #fff;
    box-sizing: border-box;
    transition: background 0.2s;
}

.selected .sort-radio {
    background-color: #6caee0;
}

.not-selected .sort-radio {
    background-color: #fff;
}

.submenu-back {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.0);

}

a {
    text-decoration: none;
    color: #6caee0;
    display: inline-flex;
}
