.sort-by-button {
    margin-top: -12px;
    padding-bottom: 30px;
}

.submenu {

    height: 250px;
    width: 100%;
    position: fixed;
    z-index: 4;
    bottom: -250px;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.2s;
}

.submenu table {
    width: 400px;
    border-spacing: 0;
    margin: auto;
    margin-top: 25px;
}

.submenu td {
    padding: 5px 25px 10px 25px;
}

.sort-radio {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 12px;
    border: 1px solid #6caee0;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
}

.selected .sort-radio::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #6caee0;
    transform: translate(-50%, -50%);
}

.submenu-back {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.0);

}

.submenu a {
    text-decoration: none;
    color: #6caee0;
    display: inline-flex;
}
