
.navbar {
  z-index: 2;
  overflow: visible;
  background-color: #6caee0;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 65px;
  height: calc(65px + constant(safe-area-inset-top));
  height: calc(65px + env(safe-area-inset-top));
}

.navbar table {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  padding: 18px 20px 15px 20px;
  font-size: 22px;
}

.navbar .left {
    width: 50px;
    text-align: left;
}

.navbar .left img {
    width: 25px;
}

.navbar .right {
    width: 50px;
    text-align: right;
}

.navbar .right .openbtn {
    width: 18px;
}

.sidenav {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #6caee0;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 90px;

}

.sidenav a {
    margin: 20px 25px;
    text-decoration: none;
  	text-align: right;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.2s;
}

.sidenav .closebtn {
    position: absolute;
    top: 25px;
    top: calc(25px + constant(safe-area-inset-top));
    top: calc(25px + env(safe-area-inset-top));
    left: 26px;
    width: 18px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.sidenavback {

    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.0);

}