
.recent {
    width: 100%;
    padding-top: 110px;
    padding-top: calc(110px + constant(safe-area-inset-top));
    padding-top: calc(110px + env(safe-area-inset-top));
}

.recent table {
    border-spacing: 0;
    padding-right: 30px;
    padding-left: 30px;
}

.recent td {
    padding-bottom: 25px;
    line-height: 1.4;
    vertical-align: top;
}

.recent a {
    text-decoration: none;
    color: black;
}

#show_more_button {
    margin-bottom: 30px;
}

.time-ago {
    font-weight: bold;
    color: #6caee0;
}

.timeline {
    width: 20px;
}

td.top {
    background: url("/static/images/timeline-top.png");
    background-size: 10px;
    background-repeat: no-repeat;
}

td.middle {
    background: url("/static/images/timeline-middle.png");
    background-size: 10px;
    background-repeat: no-repeat;
}
