
.form-search {

    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;

    padding-top: 85px;
    padding-top: calc(85px + constant(safe-area-inset-top));
    padding-top: calc(85px + env(safe-area-inset-top));

    padding-bottom: 20px;
    background-color: #fff;
    text-align: center;

}

.form-search input{

    width: calc(100% - 90px - 40px);
    max-width: 280px;
    border-radius: 2px;
    background-color:  #ffffff;
    padding: 14px 15px 14px 20px;
    border: 1px solid #6caee0;

    color:#4E565C;
    outline: none;
    -webkit-appearance: none;

    font: 15px Trebuchet MS;
}

.form-search button{

    width: 90px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    padding: 15px 22px;
    margin-left: -8px;
    cursor: pointer;
    border: none;
    outline: none;

    font: bold 15px Trebuchet MS;
}
