
body {
    background-color: #6caee0;
}

.signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin input{

    border-radius: 2px;
    background-color:  #88B5DF;
    padding: 14px 15px 14px 20px;
    border: 1px solid #6caee0;

    color:#4E565C;
    outline: none;
    -webkit-appearance: none;

    font: 15px Trebuchet MS;
    color: #fff;
}

.signin td {
    text-align: center;
}

.signin button {
    margin-top: 20%;
}

.error {
    font: 15px Trebuchet MS, sans-serif;
    color: #E33A3A;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C3D9EF;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C3D9EF;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #C3D9EF;
}
