.slidecontainer {
    width: 100%;
    padding-bottom: 10px;
}

.slidecontainer .mentions {
    margin-bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    max-width: 325px;
    height: 14px;
    border-radius: 20px;
    background: #efefef;
    outline: none;
    border: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #6caee0;
    outline: none;
    border: none;
    cursor: pointer;
}
