
.statistics {
    width: 100%;
    padding-top: 50px;
    padding-top: calc(50px + constant(safe-area-inset-top));
    padding-top: calc(50px + env(safe-area-inset-top));
}

.statistics table {
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: collapse;
    line-height: 1.4;
}

.statistics td {
    padding-top:15px;
}

.statistics .icon {
    text-align: right;
    padding-right: 20px;
    transform: translateY(-2px);
}

.statistics .icon img {
    height: 40px;
}

.top-type td {
    border-top: 25px solid transparent;
    padding-bottom: 5px;
}

.top-type {
    font-size: 20px;
    color: #6caee0;
}

.big-number {
    padding-right: 20px;
    text-align: right;
    vertical-align: top;
    transform: translateY(-3px);
}

.suffix {
    font-size: 15px;
}

.top-name a {
    text-decoration: none;
    color: black;
}

ul, li .top-movies {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    line-height: 1.3;
}

.top-movies a {
    font-style: italic;
    color: black;
    text-decoration: none;
}

.volume-analysis {
    text-align: center;
    margin-bottom: 30px;
}

img.chart {
    width: 100%;
    max-width: 400px;
}