
.statistics {
    width: 100%;
    padding-top: 60px;
    padding-top: calc(60px + constant(safe-area-inset-top));
    padding-top: calc(60px + env(safe-area-inset-top));
}

.statistics table {
    border-spacing: 10px 50px;
    padding-left: 20px;
    padding-right: 25px;
}

.statistics td {
    padding-bottom: 5px;
    line-height: 1.5;
    vertical-align: top;
}

.statistics .icon img {
    height: 40px;
}

.top-type {
    font-size: 20px;
    color: #6caee0;
    line-height: 2.1;
}

.top-name {
    font-weight: bold;
    line-height: 2;
}

.top-name a {
    text-decoration: none;
    color: black;
}

.top-movies {
  line-height: 22px;
  position: relative;
  left: -20px;
  top: -15px;
}

.top-movies a {
    font-style: italic;
    color: black;
    text-decoration: none;
}

td.sideline {
    width: 10px;
    background: url("/static/images/sideline.png");
    background-size: 10px;
    background-repeat: repeat-y;
}

.big-title {
    font: 22px Trebuchet MS, sans-serif;
}

img.chart {
    width: 100%;
    max-width: 350px;
}