
body{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    color: black;
    font: 15px Trebuchet MS;
    background-color: #ffffff;
}

.styled-button {

    -webkit-appearance: none;

    font: bold 15px Trebuchet MS;

    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    padding: 13px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    border: 1px solid #6caee0;
}

.styled-button-2 {

    -webkit-appearance: none;

    font: 15px Trebuchet MS;

    border-radius: 2px;
    background-color:  #ffffff;
    color: #6caee0;
    padding: 13px 20px;
    cursor: pointer;
    outline: none;
    border: 1px solid #6caee0;
}

.styled-poster {

    width: 70%;
    max-width: 200px;

}

.styled-table {

    text-align: center;
    width: 100%;

    margin-top: 5px;
    margin-bottom: 10px;

    padding-left: 30px;
    padding-right: 30px;

}

.styled-table td{

    font: 15px Trebuchet MS;
    padding-bottom: 8px;

}