.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.filters table {
  width: 1%;
}

.filters td {
    padding-left: 10px;
    padding-right: 10px;
}

.filters td:first-child {
    padding-left: 0px;
}

.filters td:last-child {
    padding-right: 0px;
}

.filters img {
  max-height: 20px;
  width: auto;
}

.providers {
  height: 20px;
  margin-top: -5px;
  margin-bottom: -2px;
}

.providers img {
  height: 100%;
  width: auto;
}

.OFF.netflix img {
  content:url('/static/images/providers/netflix_gray.png');
}
.OFF.amazonprimevideo img {
  content:url('/static/images/providers/amazonprimevideo_gray.png');
}
.OFF.canalplayvod img {
  content:url('/static/images/providers/canalplayvod_gray.png');
}
.OFF.disneyplus img {
  content:url('/static/images/providers/disneyplus_gray.png');
}
.OFF.mubi img {
  content:url('/static/images/providers/mubi_gray.png');
}
.OFF.universcine img {
  content:url('/static/images/providers/universcine_gray.png');
}
