.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.filters table {
  width: 1%;
}

.filters td {
    padding-left: 10px;
    padding-right: 10px;
}

.filters td:first-child {
    padding-left: 0px;
}

.filters td:last-child {
    padding-right: 0px;
}

.filters img {
  max-height: 20px;
  width: auto;
}

.providers {
  height: 20px;
  margin-top: -5px;
  margin-bottom: -2px;
}

.providers img {
  height: 100%;
  width: auto;
}

.pending-request-on-plex {
    font: normal 10px Trebuchet MS;
    color: #cb7800cc;
    margin-bottom: 2px;
    margin-top: -3px;
}

.request-on-plex input{
    font: normal 10px Trebuchet MS;
    color: #6caee0;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 2px;
    margin-top: -3px;
    cursor: pointer;
}

#movie-count {
    font: normal 11px Trebuchet MS;
    color: #cccccc;
}

.OFF.netflix img {
  content:url('/static/images/providers/netflix_gray.png');
}
.OFF.amazonprimevideo img {
  content:url('/static/images/providers/amazonprimevideo_gray.png');
}
.OFF.canal img {
  content:url('/static/images/providers/canal_gray.png');
}
.OFF.disneyplus img {
  content:url('/static/images/providers/disneyplus_gray.png');
}
.OFF.mubi img {
  content:url('/static/images/providers/mubi_gray.png');
}
.OFF.universcine img {
  content:url('/static/images/providers/universcine_gray.png');
}
.OFF.plex img {
  content:url('/static/images/providers/plex_gray.png');
}
