<script type=text/javascript src="{{ url_for('static', filename='js/shunt.js') }}"></script>
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, user-scalable=no, viewport-fit=cover" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" href="/static/images/apple_touch_icon.png">
<link rel="apple-touch-startup-image" href="/static/images/apple_startup_image.png" sizes="750x1334" />
<link rel="manifest" href="/static/manifest.json">
