{% extends "base.html" %}

{% block content %}
    <table align="center" width="100%">
    <tr><td>
    <table class="styled-table">
        <tr><td>
            <img src="{{ movie.get('image') }}" class="styled-poster">
        </td></tr>
        <tr><td>
            <b>
            {{ movie.get('title') }} ({{ movie.get('year') }})
            </b>
        </td></tr>
        <tr><td>
            <form action="{{ url_for('respond', movie_id=movie['id']) }}" method="post">
                {{ addForm.hidden_tag() }}
                <div class="slidecontainer">
                    <p style="bold"><span id="gradeValue"></span> / 10</p>
                    <input id="gradeRange" name="gradeRange" type="range" min="0" max="10" value="6.5" step="0.5" class="slider">
                </div>
                {{ addForm.addButton(class="styled-button") }}
            </form>
        </td></tr>
    </table>
    </tr></td>
    </table>

    <script type = "text/javascript">
            var slider = document.getElementById("gradeRange");
            var output = document.getElementById("gradeValue");
            output.innerHTML = slider.value;

            slider.oninput = function() {
                output.innerHTML = parseFloat(this.value).toFixed(1);
            }
    </script>

{% endblock %}
