<html>
    <head>
        <title>{{title or 'Journal'}}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-icon" href="/static/images/apple_touch_icon.png">
        <link rel="apple-touch-startup-image" href="/static/images/apple_startup_image.png" sizes="750x1334" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/recent.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css')}}">

</head>
<body ontouchstart="">

    <div class="navbar"><table><tr>
        <td class="left">
            <a href="{{url_for('search')}}"><img src="/static/images/icon_logo.png"></a>
        </td>
        <td>
            {{title or 'Journal'}}
        </td>
        <td class="right">
            <span style="cursor:pointer" onclick="openNav()"><img src="/static/images/icon_open_menu.png" class="openbtn"></span>
        </td>
    </tr></table></div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" onclick="closeNav()"><img src="/static/images/icon_close_menu.png" class="closebtn"></a>
        <a href="{{url_for('search')}}">Search</a>
        <a href="{{url_for('recent')}}">Recent</a>
        <a href="{{url_for('statistics')}}">Statistics</a>
    </div>

    <a href="javascript:void(0)" onclick="closeNav()"><div class="sidenavback" id="sidenavback"></div></a>

    {% if title == 'Search' %}

    <div class="form-search">

    <form method="post" action="{{ url_for('search') }}">
        <input id="input" name="input" placeholder="Type a movie title here..." type="text" value="{{ session.get('input') or '' }}">
        <button type="submit">Go</button>
    </form>

    </div>

    {% endif %}

    {% block content %}
    {% endblock %}

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("sidenavback").style.transition = "background-color .2s linear 0s, z-index 0s linear 0s";
            document.getElementById("sidenavback").style.zIndex = "3";
            document.getElementById("sidenavback").style.backgroundColor = "rgba(0,0,0,0.3)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("sidenavback").style.transition = "background-color .2s linear 0s, z-index 0s linear .2s";
            document.getElementById("sidenavback").style.backgroundColor = "rgba(0,0,0,0.0)";
            document.getElementById("sidenavback").style.zIndex = "-1";
        }
    </script>
    <script>
        (function(document,navigator,standalone) {
            // prevents links from apps from oppening in mobile safari
            // this javascript must be the first script in your <head>
            if ((standalone in navigator) && navigator[standalone]) {
                var curnode, location=document.location, stop=/^(a|html)$/i;
                document.addEventListener('click', function(e) {
                    curnode=e.target;
                    while (!(stop).test(curnode.nodeName)) {
                        curnode=curnode.parentNode;
                    }
                    // Conditions to do this only on links to your own app
                    // if you want all links, use if('href' in curnode) instead.
                    if('href' in curnode && ( curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host) ) ) {
                        e.preventDefault();
                        location.href = curnode.href;
                    }
                },false);
            }
        })(document,window.navigator,'standalone');
    </script>

</body>
</html>
