<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>My Movie Journal</title>
        {% endif %}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/form-search.css')}}">

    </head>
    <body>
        <div>
            My Movie Journal:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search') }}">Search</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>