<html>

<head>
    <title>{{title or 'Journal'}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="/static/images/apple_touch_icon.png">
    <link rel="apple-touch-startup-image" href="/static/images/apple_startup_image.png" sizes="750x1334" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recent.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css')}}">
    {% if title == 'Login' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    {% endif %}
    {% if title == 'Sign in' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css')}}">
    {% endif %}
</head>

<body ontouchstart="">

    {% if title not in ['Login', 'Sign in'] %}

    {% if title == 'Movie' %}

        {% if mode == 'show_buttons' %}
            {% set back_target = 'javascript:window.history.go(-1);' %}
        {% elif mode in 'show_slider' %}
            {% if referrer == 'recent' %}
                {% set back_target = 'javascript:window.history.go(-2);' %}
            {% elif referrer in ['search', 'watchlist'] %}
                {% set back_target = 'javascript:window.history.go(-1);' %}
            {% endif %}
        {% elif mode in ['show_add_or_edit_confirmation', 'show_remove_confirmation'] %}
            {% set back_target = url_for(referrer) %}
        {% endif %}

    {% endif %}


    <div class="navbar"><table><tr>
        <td class="left">
            {% if title == 'Movie' %}
            <a href="{{ back_target }}"><img src="/static/images/icon_back.png"></a>
            {% else %}
            <a href="{{url_for('search')}}"><img src="/static/images/icon_logo.png"></a>
            {% endif %}
        </td>
        <td>
            <span style="cursor:pointer" onclick="topFunction()">{{title or 'Journal'}}</span>
        </td>
        <td class="right">
            <span style="cursor:pointer" onclick="openNav()"><img src="/static/images/icon_open_menu.png" class="openbtn"></span>
        </td>
    </tr></table></div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" onclick="closeNav()"><img src="/static/images/icon_close_menu.png" class="closebtn"></a>
        <a href="{{url_for('search')}}">Search</a>
        <a href="{{url_for('recent')}}">Recent</a>
        <a href="{{url_for('watchlist')}}">Watchlist</a>
        <a href="{{url_for('statistics')}}">Statistics</a>
        <a href="{{url_for('logout')}}">Logout</a>
    </div>

    <a href="javascript:void(0)" onclick="closeNav()"><div class="sidenavback" id="sidenavback"></div></a>

    {% endif %}

    {% block content %}
    {% endblock %}

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("sidenavback").style.transition = "background-color .2s linear 0s, z-index 0s linear 0s";
            document.getElementById("sidenavback").style.zIndex = "3";
            document.getElementById("sidenavback").style.backgroundColor = "rgba(0,0,0,0.3)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("sidenavback").style.transition = "background-color .2s linear 0s, z-index 0s linear .2s";
            document.getElementById("sidenavback").style.backgroundColor = "rgba(0,0,0,0.0)";
            document.getElementById("sidenavback").style.zIndex = "-1";
        }
    </script>
    <script>
        (function(document,navigator,standalone) {
            // prevents links from apps from oppening in mobile safari
            // this javascript must be the first script in your <head>
            if ((standalone in navigator) && navigator[standalone]) {
                var curnode, location=document.location, stop=/^(a|html)$/i;
                document.addEventListener('click', function(e) {
                    curnode=e.target;
                    while (!(stop).test(curnode.nodeName)) {
                        curnode=curnode.parentNode;
                    }
                    // Conditions to do this only on links to your own app
                    // if you want all links, use if('href' in curnode) instead.
                    if('href' in curnode && ( curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host) ) ) {
                        e.preventDefault();
                        location.href = curnode.href;
                    }
                },false);
            }
        })(document,window.navigator,'standalone');
    </script>
    <script>
        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

</body>
</html>
