{% extends "base.html" %}

{% block content %}

<div class="login">
  <table align="center">

  <form method="post">
  <tr><td>
    <input id="username" name="username" placeholder="Username" type="text">
  </td></tr>
  <tr><td>
    <input id="password" name="password" placeholder="Password" type="password">
  </td></tr>
  <tr><td>
    <button class="styled-button empty" type="submit">Log in</button>
  </td></tr>
  <tr><td>
    <p><a href="{{url_for('signin')}}">Sign in</a></p>
  </td></tr>
  </form>

  </table>
</div>

{% endblock %}
