{% extends "base.html" %}

{% block content %}

<div class="movies nobar">

<table>

    {% if mode == 'show_buttons' %}
    <tr><td>
        <p><a href="javascript:window.history.go(-1);">Back</a></p>
    </td></tr>
    {% endif %}

    <tr><td>
        <img src="{{ item.get('image') }}">
    </td></tr>
    <tr><td>
        <b>{{ item.get('title') }}{% if item.get('year') %} ({{ item['year'] }}){% endif %}</b>
        {% if item.get('genres') %}
            <br/>{{ ', '.join(item['genres']) }}
        {% endif %}
        {% if item.get('directors') %}
            <br/>By {{ ' and '.join(item['directors']) }}
        {% endif %}
        {% if item.get('cast') %}
            <br/>With {{ ', '.join(item['cast']) }}
        {% endif %}
        {% if item.get('duration') %}
            <br/>{{ item['duration'] }}
        {% endif %}
    </td></tr>

    {% if mode == 'show_slider' %}
    <tr><td>
    <form action="{{ url_for('movie', movie_id=item['tmdb_id']) }}" method="post">

        <div class="slidecontainer">
            <div class="mentions"><span id="gradeValue"></span>/10</div>
            <input id="gradeRange" name="gradeRange" type="range" min="1" max="10" value="{{ item.get('grade', 6)|string }}" step="1" class="slider">
        </div>
        <input class="styled-button full" type="submit" value="{{ 'Update' if item.get('grade') else 'Add' }}">

    </form>
    </td></tr>
    {% endif %}

    {% if mode == 'show_add_or_edit_confirmation' %}
    <tr><td>
    <div class="mentions">
        <img src="/static/images/icon_check.png" width="20px">
        Movie successfully {{ action }}
    </div>
    {% endif %}

    {% if mode == 'show_buttons' %}
    </td></tr>
    <tr>
    <td>
        <table class="dual"><tr>
        <td class="left">
            <input class="styled-button full" type="button" onclick="location.href='{{ url_for('movie', movie_id=item['tmdb_id'], show_slider=True)}}';" value="Edit">
        </td>
        <td class="right">
            <form action="{{ url_for('movie', movie_id=item['tmdb_id']) }}" method="post">
                <input class="styled-button empty" type="submit" name="remove" value="Remove">
            </form>
        </td>
        </tr></table>
    </td>
    </td></tr>
    {% endif %}

    {% if mode == 'show_remove_confirmation' %}
    <tr><td>
    <div class="mentions">
        <img src="/static/images/icon_uncheck.png" width="20px">
        Movie successfully removed
    </div>
    </td></tr>
    {% endif %}

</table>

</div>

{% if mode == 'show_slider' %}
<script type = "text/javascript">
        var slider = document.getElementById("gradeRange");
        var output = document.getElementById("gradeValue");
        output.innerHTML = slider.value;

        slider.oninput = function() {
            <!-- Set the toFixed value to 1 to have a fixed 1-decimal printed value -->
            output.innerHTML = parseFloat(this.value).toFixed(0);
        }
</script>
{% endif %}

{% endblock %}
