<html>

<head>
    {% include 'base/head.html' %}
    <script type=text/javascript src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/referrer.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recent.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notfound.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/people.css')}}">
</head>

<body ontouchstart="">

{% with page_title = 'People' %}
    {% include 'base/menu.html' %}
{% endwith %}
{% include 'base/alert.html' %}

{% if not metadata.person_id %}

<div class="form-search">

<form method="get" action="{{ url_for('people') }}">
    <input name="query" placeholder="Look for an actor, director..." type="text" value="{{ metadata.query or '' }}">
    <button type="submit">Go</button>
</form>

</div>

{% endif %}

{% if payload.titles == [] %}
<div class="notfound{% if metadata.person_id %} no-bar{% endif %}">
<table>
    <tr><td>
        <img src="static/images/fail.png">
    </td></tr>
    <tr><td>
        {% if metadata.query %}
        Sorry, we could not find <b>"{{ metadata.query|title }}"</b> in any of the movies you rated.
        {% elif metadata.person_id %}
        Sorry, we could not find this person in any of the movies you rated.
        {% endif %}
    </td></tr>
</table>
</div>
{% endif %}

{% if payload %}

<div class="recent{% if metadata.person_id %} no-bar{% endif %}">

<div class="card">
<center><table>
<tr>
    {% if payload.person.image %}
    <td class="profile">
        <img src="{{ payload.person.image }}" class="rounded">
    </td>
    {% endif %}
    <td>
        <b>{{ payload.person.name }}</b>
        {% for role, count in payload.person.roles.items() %}
        <br/> {{ role|capitalize }} ({{ count }} movie{{ 's' if count > 1 else '' }})
        {% endfor %}
    </td>
</tr>
</table></center>
</div>

<center><table>

{% for title in payload.titles %}
<tr>
    {% if loop.index0 == 0 %}
        <td class="timeline top"></td>
    {% else %}
        <td class="timeline middle"></td>
    {% endif %}
    <td>
        <span class="time-ago">{{ format_date(title.date) }}</span>
        <br/>
        {{ ', '.join(title.roles)|title }}
        <br/>
        <b><a href="javascript:add_referrer_and_load('{{ url_for('movie', tmdb_id=title.tmdb_id, query=metadata.query) }}')">{{ title.title }} ({{ title.year }})</a></b>
        <br/>
        {{ ', '.join(title.genres) }}
        <br/>
        {{ [title.grade|int, title.grade]|max }}/10
    </td>
</tr>
{% endfor %}

</table></center>
</div>

{% if metadata.scroll_to %}
<script type = "text/javascript"> window.scrollTo(0, {{ metadata.scroll_to }}); </script>
{% endif %}

{% endif %}

</body>
</html>
