<html>

<head>
    {% include 'base/head.html' %}
    <script type=text/javascript src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/referrer.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recent.css')}}">
</head>

<body ontouchstart="">

{% with title = 'Recent' %}
    {% include 'base/menu.html' %}
{% endwith %}
{% include 'base/alert.html' %}

<div class="recent">

<center><table>

{% for i in range(movies|length) %}
{% set item = movies[i] %}
<tr>
    {% if i == 0 %}
        <td class="timeline top"></td>
    {% else %}
        <td class="timeline middle"></td>
    {% endif %}
    <td>
        <span class="time-ago">{{ format_date(item.date) }}</span>
        <br/>
        <b><a href="javascript:add_referrer_and_load('{{ url_for('movie', movie_id=item['tmdb_id']) }}', 'recent')">{{ item.title }} ({{ item.year }})</a></b>
        <br/>
        {{ ', '.join(item.genres.split(',')) }}
        <br/>
        {{ [item.grade|int, item.grade]|max }}/10
    </td>
</tr>
{% endfor %}

</table></center>

{% if show_button %}
<input class="styled-button full" type="button" id="more_button" onclick="javascript:add_referrer_and_load('{{ url_for('recent', nb_results=movies|length+20) }}', 'recent')" value="More">
{% endif %}

</div>

{% if scroll %}
<script type = "text/javascript"> window.scrollTo(0, {{ scroll }}); </script>
{% endif %}

</body>
</html>
