<html>

<head>
    <title>{{ payload.year_applicable }} Retrospective - Journal</title>
    {% include 'base/head.html' %}
    <script type=text/javascript src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
</head>

<!-- https://www.kirilv.com/canvas-confetti/ -->
<body ontouchstart="" onload="javascript:confetti({origin: {y: -0.2}, particleCount: 150, spread: 180, startVelocity: -40})">

{% with page_title = [payload.year_applicable, 'Retrospective']|join(' ') %}
    {% include 'base/menu.html' %}
{% endwith %}
{% include 'base/alert.html' %}

<div class="statistics">

<center><table>

    <tr class="top-type">
        <td class="icon"><img src="/static/images/statistics/television.png"></td>
        <td>Viewing activity</td>
    </tr>
    <tr>
        <td class="big-number">
            {{ payload.activity['viewing activity']|round(1) }}
        </td>
        <td>
            <b>movies watched in {{ payload.year_applicable }}</b><br/>
            {{ format_timespan(payload.activity['time spent']) }}
        </td>
    </tr>

    {% for element in payload.movies %}
    <tr class="top-type">
        <td class="icon"><img src="/static/images/statistics/{{ element['image'] }}"></td>
        <td>{{ element['section'] }}</td>
    </tr>
        {% for item in element['movies'] %}
        <tr>
            <td class="big-number">
                {{ item['rank'] }}<sup><span class="suffix">{{ item['suffix'] }}</span></sup>
            </td>
            <td>
                <b><span class="top-name"><a href="{{ url_for('movie', tmdb_id=item['tmdb_id']) }}">{{ item['title'] }} ({{ item['year'] }})</a></span></b>
                    <br/>{{ ', '.join(item['genres'][:3]) }}
                    <br/>{{ [item['grade']|int, item['grade']]|max }}/10
            </td>
        </tr>
        {% endfor %}
    {% endfor %}

    <tr class="top-type">
        <td class="icon"><img src="/static/images/statistics/activity.png"></td>
        <td>Volume analysis</td>
    </tr>
</table>
<table class="volume-analysis">
    <tr><td>
        <img class="chart" src="{{ url_for('static', filename=payload.dist_images.grade_dist) }}">
    </td></tr>
    <tr><td>
        Grade histogram
    </td></tr>
    <tr><td>
        <img class="chart" src="{{ url_for('static', filename=payload.dist_images.decade_dist) }}">
    </td></tr>
    <tr><td>
        Decade histogram
    </td></tr>
</table></center>

</div>

</body>
</html>
