
{% extends "base.html" %}

{% block content %}

{% if not query %}
    {% set query = '' %}
{% endif %}

<div class="form-search">

<form method="get" action="{{ url_for('search') }}">
    <input name="query" placeholder="Type a movie title here..." type="text" value="{{ query }}">
    <button type="submit">Go</button>
</form>

</div>


<div class="movies bar">

{% if results == [] %}
<table>
    <tr><td>
    <img id="img-no-results" src="static/images/fail.png">
    </td></tr>
    <tr><td>
    Wops, no results were found
    </td></tr>
</table>
{% endif %}


{% for item in results %}

<table>
    {% if item.get('image') %}
    <tr><td>
        {% if item.get('grade') %}
        <a href="{{ url_for('movie', movie_id=item['tmdb_id']) }}"><img src="{{ item.get('image') }}"></a>
        {% else %}
        <a href="{{ url_for('movie', movie_id=item['tmdb_id'], show_slider=True) }}"><img src="{{ item.get('image') }}"></a>
        {% endif %}
    </td></tr>
    {% endif %}
    <tr><td>
        <b>{{ item.get('title') }}{% if item.get('year') %} ({{ item['year'] }}){% endif %}</b>
        {% if item.get('genres') %}
            <br/>{{ ', '.join(item['genres']) }}
        {% endif %}
        {% if item.get('directors') %}
            <br/>By {{ ' and '.join(item['directors']) }}
        {% endif %}
        {% if item.get('cast') %}
            <br/>With {{ ', '.join(item['cast']) }}
        {% endif %}
        {% if item.get('duration') %}
            <br/>{{ item['duration'] }}
        {% endif %}
    </td></tr>
    <tr><td>
        {% if not item.get('grade') %}
            {% if not item['movie'] in watchlist %}
            <table class="dual"><tr>
            <td class="left">
                <input class="styled-button full" type="button" onclick="location.href='{{ url_for('movie', movie_id=item['tmdb_id'], show_slider=True)}}';" value="Add">
            </td>
            <td class="right">
                <form action="{{ url_for('watchlist', add=item['tmdb_id']) }}" method="post">
                    <input class="styled-button empty" type="submit" name="add_to_watchlist" value="Watchlist">
                </form>
            </td>
            {% else %}
            <input class="styled-button full" type="button" onclick="location.href='{{ url_for('movie', movie_id=item['tmdb_id'], show_slider=True)}}';" value="Add">
            {% endif %}
            </tr></table>
        {% else %}
        <div class="mentions">
            <img src="/static/images/icon_check.png">
            Seen: {{ [item['grade']|int, item['grade']]|max }}/10
        </div>
        {% endif %}
    </td></tr>

</table>

{% endfor %}

{% if show_more_button %}
<table>
    <tr><td>
        <a id="show_more_link" href="javascript:get_show_more_url()">More results</a>
    </td></tr>
</table>
{% endif %}

<script type = "text/javascript">

    var show_more_link = document.getElementById("show_more_link");
    var show_more_root_url = "{{ url_for('search', query=query, nb_results=results|length*2+1, scroll='_scroll_placeholder') }}"

    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }

    get_show_more_url = function() {
        show_more_link.href = decodeEntities(show_more_root_url.replace('_scroll_placeholder', window.scrollY));
        show_more_link.click();
    };

    {% if scroll %}
        window.scrollTo(0, {{ scroll }});
    {% endif %}

</script>

</div>

{% endblock %}
