{% extends "base.html" %}

{% block content %}

    {% if mode %}
        <h2>Best result{{ "s" if mode == "multiple" else "" }} for "{{ session['input'] }}":</h2>
        <table>
        {% for movie in session['movies'] %}
            {% if None not in movie.values() %}
                <tr>
                    <td>
                        <img src="{{ movie.get('poster') }}" width="40px">
                    </td>
                    <td>
                        {{ movie.get('title') }} ({{ movie.get('year') }})<br/>
                        By {{ ' and '.join(movie.get('director')) }}<br/>
                        With {{ ', '.join(movie.get('actors')) }}
                    </td>
                    <td>
                        <a href="{{ url_for('add', movie_id=movie.get('id')) }}">Add movie</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
        {% if mode == 'single' %}
            <form action="" method="post" class="form-single-result">
                {{ singleResultForm.hidden_tag() }}
                {{ singleResultForm.moreButton(class_="form-single-result-more") }}
            </form>
        {% endif %}
    {% endif %}

{% endblock %}
