
{% extends "base.html" %}

{% block content %}

<div class="search-results">

{% for movie in (session.get('results') or {}).values() %}

<table>

    <tr><td>
        <a href="{{ url_for('movie', movie_id=movie['id']) }}"><img src="{{ movie.get('image') }}"></a>
    </td></tr>
    <tr><td>
        <b>{{ movie.get('title') }} ({{ movie.get('year') }})</b>
        {% if movie.get('genre') %}
            <br/> {{ movie.get('genre') }}
        {% endif %}
        {% if movie.get('directors') %}
            <br/> By {{ ' and '.join(movie.get('directors')) }}
        {% endif %}
        {% if movie.get('cast') %}
            <br/> With {{ ', '.join(movie.get('cast')) }}
        {% endif %}
    </td></tr>
    <tr><td>
        {% if not movie.get('grade') %}
        <input class="styled-button full" type="button" onclick="location.href='{{ url_for('movie', movie_id=movie['id'])}}';" value="Add">
        {% else %}
        <div class="mentions">
            <img src="/static/images/icon_check.png">
            Seen: {{ [movie['grade']|int, movie['grade']]|max }}/10
        </div>
        {% endif %}
    </td></tr>

</table>

{% endfor %}

</div>

{% endblock %}
