<html>

<head>
    <title>Settings - Journal</title>
    {% include 'base/head.html' %}
    <script type=text/javascript src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css')}}">
</head>

<body ontouchstart="">

{% with page_title = 'Settings' %}
    {% include 'base/menu.html' %}
{% endwith %}
{% include 'base/alert.html' %}

<center>
<div class="settings">

<form method="post">

<h2>General</h2>
<table>
    <tr><td class="switch">
        <input id="decimal_grades" onChange="this.form.submit()" name="decimal_grades" class="apple-switch" type="checkbox"{% if payload.decimal_grades %} checked{% endif %}>
    </td><td class="caption">
        Allow decimal grades
    </td></tr>
    <tr><td class="switch">
        <input id="original_titles_fr" onChange="this.form.submit()" name="original_titles_fr" class="apple-switch" type="checkbox"{% if payload.original_titles_fr %} checked{% endif %}>
    </td><td class="caption">
        Use original titles for French movies
    </td></tr>
</table>

<h2>Watchlist filters</h2>
<table>
    {% for provider in payload.providers %}
    <tr><td class="switch">
        <input id="{{ provider }}" onChange="this.form.submit()" name="{{ provider }}" class="apple-switch" type="checkbox"{% if payload.providers[provider] %} checked{% endif %}>
    </td><td class="caption">
        {{ payload.provider_names[provider] }}
    </td></tr>
    {% endfor %}
</table>

</form>

</div>
</center>

</body>
</html>
