<html>

<head>
    {% include 'base/head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css')}}">
</head>

<body ontouchstart="">

<div class="signup">
<table align="center">

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <tr><td>
            {{ form.username() }}<br>
            {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>
            {{ form.email() }}<br>
            {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>
            {{ form.password() }}<br>
            {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>
            {{ form.password2() }}<br>
            {% for error in form.password2.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>
            <button class="styled-button empty" type="submit">Sign up</button>
        </td></tr>
        <tr><td>
            <p><a href="{{url_for('login')}}">Back</a></p>
        </td></tr>
    </form>

</table>
</div>

</body>
</html>
