<html>

<head>
    <title>Statistics - Journal</title>
    {% include 'base/head.html' %}
    <script type=text/javascript src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css')}}">
</head>

<body ontouchstart="">

{% with page_title = 'Statistics' %}
    {% include 'base/menu.html' %}
{% endwith %}
{% include 'base/alert.html' %}

<div class="statistics">

<center><table>

    <tr class="top-type">
        <td class="icon"><img src="/static/images/statistics/television.png"></td>
        <td>Viewing activity</td>
    {% for timespan in ['month', 'year', 'overall'] %}
    <tr>
        <td class="big-number">
            {{ payload.activity[timespan]['values']['viewing activity']|round(1) }}
        </td>
        <td>
            <b>{{ payload.activity[timespan].desc }}</b><br/>
            {{ format_timespan(payload.activity[timespan]['values']['time spent']) }}
        </td>
    </tr>
    {% endfor %}

    {% for element in payload.movies %}
    <tr class="top-type">
        <td class="icon"><img src="/static/images/statistics/{{ element['image'] }}"></td>
        <td>{{ element['section'] }}</td>
    </tr>
        {% for item in element['movies'] %}
        <tr>
            <td class="big-number">
                {{ item['rank'] }}<sup><span class="suffix">{{ item['suffix'] }}</span></sup>
            </td>
            <td>
                <b><span class="top-name"><a href="{{ url_for('movie', tmdb_id=item['tmdb_id']) }}">{{ item['title'] }} ({{ item['year'] }})</a></span></b>
                    <br/>{{ ', '.join(item['genres'][:3]) }}
                    <br/>{{ [item['grade']|int, item['grade']]|max }}/10
            </td>
        </tr>
        {% endfor %}
    {% endfor %}


    {% for element in payload.tops %}
    <tr class="top-type">
        <td class="icon"><img src="/static/images/statistics/{{ element }}.png"></td>
        <td>Top {{ element }}</td>
    </tr>
        {% for top in payload.tops[element] %}
        <tr>
            {% if top.grade < 10 %}
            <td class="big-number">{{ "%.1f"|format(top.grade) }}</td>
            {% else %}
            <td class="big-number">{{ "%.0f"|format(top.grade) }}</td>
            {% endif %}
            <td>
                {% if element == 'genres' %}
                    <b><span class="top-name">{{ top.name }}</span></b>
                {% else %}
                    <b><span class="top-name"><a href="{{ url_for('people', person_id=top.person_id) }}">{{ top.name }}</a></span></b>
                {% endif %}
                <br/>{{ top.count }} movie{% if top.count > 1 %}s{% endif %}{% if top.count > 3 %}, including{% endif %}:
                <ul>
                {% for title, id in zip(top.top_3_movie_names, top.top_3_movie_ids) %}
                    <li class="top-movies"><span><a href="{{ url_for('movie', tmdb_id=id) }}">{{ title }}</a></span></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}

    <tr class="top-type">
        <td class="icon"><img src="/static/images/statistics/activity.png"></td>
        <td>Volume analysis</td>
    </tr>
</table>
<table class="volume-analysis">
    <tr><td>
        <img class="chart" src="{{ url_for('static', filename=payload.dist_images.grade_dist) }}">
    </td></tr>
    <tr><td>
        Grade histogram
    </td></tr>
    <tr><td>
        <img class="chart" src="{{ url_for('static', filename=payload.dist_images.decade_dist) }}">
    </td></tr>
    <tr><td>
        Decade histogram
    </td></tr>
</table></center>

</div>

</body>
</html>
