<html>

<head>
    {% include 'base/head.html' %}
    <script type=text/javascript src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/referrer.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css')}}">
</head>

<body ontouchstart="">

{% with page_title = 'Statistics' %}
    {% include 'base/menu.html' %}
{% endwith %}
{% include 'base/alert.html' %}

<div class="statistics">

<center><table>

    <tr>
        <td class="icon"><img src="/static/images/statistics/activity.png"></td>
        <td class="sideline"></td>
        <td>
            <p class="top-type">Viewing activity</p>
            {% for timespan in ['month', 'year', 'overall'] %}
                <p><span class="big-number">{{ activity[timespan]['values']['viewing activity']|round(1) }}</span>
                <br/>{{ activity[timespan].desc }}</p>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td class="icon"><img src="/static/images/statistics/stopwatch.png"></td>
        <td class="sideline"></td>
        <td>
            <p class="top-type">Time spent</p>
            {% for timespan in ['month', 'year', 'overall'] %}
                <p><span class="big-title">{{ format_timespan(activity[timespan]['values']['time spent']) }}</span>
                <br/>{{ activity[timespan].desc }}</p>
            {% endfor %}
        </td>
    </tr>

    {% for element in movies %}
        <td class="icon"><img src="/static/images/statistics/{{ element['image'] }}"></td>
        <td class="sideline"></td>
        <td>
            <p class="top-type">{{ element['section'] }}</p>
            {% for item in element['movies'] %}

            <p><span class="big-number">{{ item['rank'] }}</span>{{ item['suffix'] }}
                <br/><span class="top-name"><a href="javascript:add_referrer_and_load('{{ url_for('movie', movie_id=item['tmdb_id']) }}', 'statistics')">{{ item['title'] }} ({{ item['year'] }})</a></span>
            <br/>{{ ', '.join(item['genres'].split(',')) }}
            <br/>{{ [item['grade']|int, item['grade']]|max }}/10

            {% endfor %}
        </p>

        </td>
    </tr>
    {% endfor %}


{% for element in tops %}

    <tr>
    <td class="icon"><img src="/static/images/statistics/{{ element }}.png"></td>
    <td class="sideline"></td>
    <td>
    <p class="top-type">Top {{ element }}</p>

    {% for top in tops[element] %}

        <p><span class="big-number">{{ "%.1f"|format(top.grade) }}</span>
        <br/><span class="top-name">{{ top.name }}</span>
        <br/>Top {{ top.top_3_movies|length }} movies ({{ top.count }} in total):

        {% for title in top.top_3_movies %}
            <br/><span class="top-movies"> &bull; {{ title }}</span>
        {% endfor %}
        </p>

    {% endfor %}

    </td>
    </tr>

{% endfor %}

</table></center>

</div>

{% if scroll %}
<script type = "text/javascript"> window.scrollTo(0, {{ scroll }}); </script>
{% endif %}

</body>
</html>
