<html>

<head>
    <title>Watchlist - Journal</title>
    {% include 'base/head.html' %}
    <script type=text/javascript src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/filter.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/watchlist.css')}}">
</head>

<body ontouchstart="" onload="filterSelection();">

{% with page_title = 'Watchlist' %}
    {% include 'base/menu.html' %}
{% endwith %}
{% include 'base/alert.html' %}

<div class="movies nobar">

{% if not payload %}
<table>
    <tr><td>
    <img id="img-no-results" src="static/images/fail.png">
    </td></tr>
    <tr><td>
    Wops, no movies in watchlist.
    </td></tr>
</table>
{% elif metadata.providers %}
<center><div id="filterContainer" class="filters">
    <table><tr>
    {% for provider in metadata.providers %}
        <td>
        <a href="javascript:void(0)" class="btn {{ provider }} {{ 'ON' if provider in metadata.filters else 'OFF' }}" onclick="switchFilterState('{{ provider }}')">
            <img src="static/images/providers/{{ provider }}.png">
        </a>
        </td>
    {% endfor %}
    </tr></table>
</div></center>
{% endif %}


{% for watchlist_item, title in payload %}

<div class="filterDiv {{ ' '.join(watchlist_item.providers) }} show">
<table>

    <tr><td>
        <a href="{{ url_for('movie', tmdb_id=title.id, show_slider=True) }}">
            <img src="{{ title.poster_url }}">
        </a>
    </td></tr>
    <tr><td>
        <b>{{ title.title }}{% if title.year %}&nbsp;({{ title.year }}){% endif %}{% if title.imdb_rating %}  <a href="https://imdb.com/title/{{ title.imdb_id }}"><span class="imdb-star"><svg xmlns="http://www.w3.org/2000/svg" class="imdb-star" viewBox="0 0 24 24" fill="currentColor"><path d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z"></path></svg></span>&nbsp;{{ title.imdb_rating }}</a>{% endif %}</b>
        {% if title.genres %}
            <br/>{{ ', '.join(title.genres) }}
        {% endif %}
        {% if title.director_names %}
            <br/>By
            {% for name, id in zip(title.director_names, title.director_ids) %}
                <a href="{{ url_for('people', person_id=id) }}">{{ name }}</a>{% if loop.index0 != title.director_names|length-1 %} and {% endif %}
            {% endfor %}
        {% endif %}
        {% if title.top_cast_names %}
            <br/>With
            {% for name, id in zip(title.top_cast_names, title.top_cast_ids) %}
                <a href="{{ url_for('people', person_id=id) }}">{{ name }}</a>{% if loop.index0 != title.top_cast_names|length-1 %}, {% endif %}
            {% endfor %}
        {% endif %}
        {% if title.duration %}
            <br/>{{ title.duration }}
        {% endif %}
    </td></tr>
    {% if intersect(watchlist_item.providers, metadata.providers) %}
    <tr><td>
        <div class="providers">
        {% for provider in intersect(watchlist_item.providers, metadata.providers) %}
            <img src="static/images/providers/{{ provider }}.png">
        {% endfor %}
        </div>
    </td></tr>
    {% else %} <!-- When none of user's providers are available for this movie -->
        {% if 'plex' in metadata.providers %} <!-- If plex is one of user's providers -->
            {% if not metadata.request_statuses.get(watchlist_item.tmdb_id) %} <!-- Then add a button to make a request if no request exists -->
    <tr><td>
        <form onsubmit="this.action=add_scroll('{{ url_for('watchlist') }}');" method="post">
        <input type="hidden" name="request_on_plex" value="{{ title.id }}">
            <div class="request-on-plex"><input type="submit" value="Request on Plex" onclick="javascript:if (window.confirm('Request on Plex?')) {return true;} else {return false;}"></div>
        </form>
    </td></tr>
            {% else %} <!-- Else confirm that a request exists -->
    <tr><td>
        <div class="pending-request-on-plex">Pending request on Plex</div>
    </td></tr>
            {% endif %}
        {% endif %}
    {% endif %}
    <tr><td>
        <table class="dual"><tr>
        <td class="left">
            <input class="styled-button full" type="button" onclick="location.href='{{ url_for('movie', tmdb_id=title.id, show_slider=True) }}'" value="Add">
        </td>
        <td class="right">
            <form onsubmit="{{ url_for('watchlist') }}" method="post">
                <input type="hidden" name="remove_from_watchlist" value="{{ title.id }}">
                <input class="styled-button empty red" type="submit" value="Unlist" onclick="javascript:if (window.confirm('Remove from watchlist?')) {return true;} else {return false;}">
            </form>
        </td>
        </tr></table>
    </td></tr>
</table>
</div>

{% endfor %}

</div>

{% if metadata.scroll_to %}
<script type = "text/javascript"> window.scrollTo(0, {{ metadata.scroll_to }}); </script>
{% endif %}

</body>
</html>
