<html>

<head>
    {% include 'base/head.html' %}
    <script type=text/javascript src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/filter.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/referrer.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/watchlist.css')}}">
</head>

<body ontouchstart="" onload="filterSelection();">

{% with page_title = 'Watchlist' %}
    {% include 'base/menu.html' %}
{% endwith %}
{% include 'base/alert.html' %}

<div class="movies nobar">

{% if not payload %}
<table>
    <tr><td>
    <img id="img-no-results" src="static/images/fail.png">
    </td></tr>
    <tr><td>
    Wops, no movies in watchlist.
    </td></tr>
</table>
{% else %}
<div id="filterContainer" class="providers">
    {% for provider in ['netflix', 'amazonprimevideo', 'disneyplus'] %}
        <a href="javascript:void(0)" class="btn {{ provider }} {{ 'ON' if provider in metadata.filters else 'OFF' }}" onclick="switchFilterState('{{ provider }}')">
            <img src="static/images/providers/{{ provider }}.png">
        </a>
    {% endfor %}
</div>
{% endif %}


{% for watchlist_item, title in payload %}

<div class="filterDiv {{ ' '.join(watchlist_item.providers) }} show">
<table>

    <tr><td>
        <a href="javascript:add_referrer_and_load('{{ url_for('movie', tmdb_id=title.id, show_slider=True) }}', 'watchlist')">
            <img src="{{ title.poster_url }}">
        </a>
    </td></tr>
    <tr><td>
        <b>{{ title.title }}{% if title.year %} ({{ title.year }}){% endif %}</b>
        {% if title.genres %}
            <br/>{{ ', '.join(title.genres) }}
        {% endif %}
        {% if title.directors %}
            <br/>By
            {% for director in title.directors %}
                <a href="javascript:add_referrer_and_load('{{ url_for('people', query=director|lower) }}', 'watchlist')">{{ director }}</a>{% if loop.index0 != title.directors|length-1 %} and {% endif %}
            {% endfor %}
        {% endif %}
        {% if title.cast %}
            <br/>With
            {% for person in title.cast %}
                <a href="javascript:add_referrer_and_load('{{ url_for('people', query=person|lower) }}', 'watchlist')">{{ person }}</a>{% if loop.index0 != title.cast|length-1 %}, {% endif %}
            {% endfor %}
        {% endif %}
        {% if title.duration %}
            <br/>{{ title.duration }}
        {% endif %}
    </td></tr>
    {% if watchlist_item.providers|length > 0 %}
    <tr><td>
        <div class="providers">
        {% for provider in ['netflix', 'amazonprimevideo', 'disneyplus'] %}
            {% if provider in watchlist_item.providers %}
            <img src="static/images/providers/{{ provider }}.png">
            {% endif %}
        {% endfor %}
        </div>
    </td></tr>
    {% endif %}
    <tr><td>
        {% if not title.grade %}
        <table class="dual"><tr>
        <td class="left">
            <input class="styled-button full" type="button" onclick="location.href=add_referrer('{{ url_for('movie', tmdb_id=title.id, show_slider=True) }}', 'watchlist')" value="Add">
        </td>
        <td class="right">
            <form onsubmit="this.action=add_referrer('{{ url_for('watchlist') }}', 'watchlist');" method="post">
                <input type="hidden" name="remove_from_watchlist" value="{{ title.id }}">
                <input class="styled-button empty" type="submit" value="Unlist" onclick="javascript:if (window.confirm('Remove from watchlist?')) {return true;} else {return false;}">
            </form>
        </td>
        </tr></table>
        {% endif %}
    </td></tr>

</table>
</div>

{% endfor %}

</div>

{% if metadata.scroll_to %}
<script type = "text/javascript"> window.scrollTo(0, {{ metadata.scroll_to }}); </script>
{% endif %}

</body>
</html>
