
{% extends "base.html" %}

{% block content %}

<div class="movies nobar">

{% if not watchlist %}
<table>
    <tr><td>
    <img id="img-no-results" src="static/images/fail.png">
    </td></tr>
    <tr><td>
    Wops, no movies in watchlist.
    </td></tr>
</table>
{% endif %}


{% for item in watchlist.values() %}

<table>

    <tr><td>
        <a href="{{ url_for('movie', movie_id=item['tmdb_id'], show_slider=True) }}"><img src="{{ item.get('image') }}"></a>
    </td></tr>
    <tr><td>
        <b>{{ item.get('title') }}{% if item.get('year') %} ({{ item['year'] }}){% endif %}</b>
        {% if item.get('genres') %}
            <br/>{{ ', '.join(item['genres']) }}
        {% endif %}
        {% if item.get('directors') %}
            <br/>By {{ ' and '.join(item['directors']) }}
        {% endif %}
        {% if item.get('cast') %}
            <br/>With {{ ', '.join(item['cast']) }}
        {% endif %}
        {% if item.get('duration') %}
            <br/>{{ item['duration'] }}
        {% endif %}
    </td></tr>
    <tr><td>
        {% if not item.get('grade') %}
        <table class="dual"><tr>
        <td class="left">
            <input class="styled-button full" type="button" onclick="location.href='{{ url_for('movie', movie_id=item['tmdb_id'], show_slider=True) }}';" value="Add">
        </td>
        <td class="right">
            <form action="{{ url_for('watchlist', remove=item['movie']) }}" method="post">
                <input class="styled-button empty" type="submit" name="remove_from_watchlist" value="Unlist">
            </form>
        </td>
        </tr></table>
        {% endif %}
    </td></tr>

</table>

{% endfor %}

</div>

{% endblock %}
